legacy-peer-deps=true
registry=https://pkgs.dev.azure.com/devintechindia/_packaging/devintechindia/npm/registry/                      
always-auth=true
; begin auth token
//pkgs.dev.azure.com/devintechindia/_packaging/devintechindia/npm/registry/:username=devintechindia
//pkgs.dev.azure.com/devintechindia/_packaging/devintechindia/npm/registry/:_password=ZWE1eWwzY3dvcnBua3p6bWsyZWpkZmR2dWNtYnE2Y3RmZ2E3eHF5dTUzaWg3N29idWNncQ==
//pkgs.dev.azure.com/devintechindia/_packaging/devintechindia/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/devintechindia/_packaging/devintechindia/npm/:username=devintechindia
//pkgs.dev.azure.com/devintechindia/_packaging/devintechindia/npm/:_password=ZWE1eWwzY3dvcnBua3p6bWsyZWpkZmR2dWNtYnE2Y3RmZ2E3eHF5dTUzaWg3N29idWNncQ==
//pkgs.dev.azure.com/devintechindia/_packaging/devintechindia/npm/:email=npm requires email to be set but doesn't use the value
; end auth token


